extends ../layouts/main
include ../mixins/sidebar
include ../mixins/alerts
append head
  title #{title} | CM

block content
  .container-fluid
    .row
      +sidebar

      .container-fluid.content_section.col-10
        .row.product_content
          +alerts
          h2
          .col-md-1
          .col-md-10
            .header-section.d-flex.justify-content-between.mb-4.align-items-center.ml-0
              h1.display-4.animated.fadeInLeft.animation-delay-200
                i.mr-3.color-primary(class="icon ion-md-folder")
                | Dockets
              .btn-group.float-right.animated.fadeInRight.animation-delay-200
                a.btn.btnPurple.mr-3(href="/dockets/new") Add Docket 
                - var cart = session.cart;
                if cart && cart.totalQty > 0  
                  a.btn.btn-success(href="/cart") View Cart #[span.badge.badge-light #{cart.totalQty}]  

            hr
            if dockets && dockets.length > 0   
              .list-overflow
                .table-responsive
                  table.table.table-striped
                    thead.text-center#listHeader
                      tr
                        th(scope="col") Docket No.
                        th(scope="col") Patient
                        th(scope="col") Status
                        if user && user.role_id <=1
                          th(scope="col") View Docket
                        if user && user.role_id < 1
                          th(scope="col") Edit Docket
                    tbody.text-center
                      each docket, index in dockets
                        tr
                          th(scope="row") #{docket.docno}
                          td #{docket.name}
                          td(class=(docket.status==='active'? 'text-success': 'text-muted')) #{docket.status}
                          if user && user.role_id <=1
                            td
                              a.btn.btn-sm.btn-info(href=`/dockets/${docket._id}` title="View this docket") 
                                i(class="icon ion-md-eye")
                          if user && user.role_id < 1
                            td
                              a.btn.btn-sm.btn-secondary(href=`/dockets/${docket._id}/edit` title="Edit this docket")
                                i(class="icon ion-md-create")
            else
              .col-md-8  
                .alert.alert-info(role="alert")
                  h3.alert-heading Don't see any dockets?
                  p Don't worry, this space shouldn't be empty for long.
                  a.btn.btn-info(href="/dockets/new") Add a docket                   
