extends ../layouts/main
include ../mixins/sidebar
include ../mixins/alerts

append head
  title Docket Details | CM

block content
  .container-fluid
    .row
      +sidebar

      .container-fluid.content_section.col-10
        .row
          .col-md-1
          .col-md-10
            +alerts
            .product_content
              .header-section.d-flex.justify-content-between.mb-4.align-items-center.animated.fadeIn.animation-delay-200
                h1.display-4.mb-0
                  i.mr-3.color-primary(class="icon ion-md-folder")
                  | Docket Details
                if user && user.role_id < 1
                  .float-right.text-right
                    a.btn.btnPurple(href=`/dockets/${docket._id}/edit`) Edit Docket
              hr
              .order__details
                .row
                  .col-md-6
                    .order__detail.mb-2.text-left
                      p.mb-1.order__part--title DOCKET NUMBER #[h4.text-uppercase.font-weight-bold #{docket.docno}] 
                  .col-md-6
                    .order__detail.mb-2.text-left
                      p.mb-1.order__part--title PATIENT #[h4.font-weight-bold #{docket.name}]

                .row.mt-3 
                  if orders && orders.length > 0
                    .col-md-8  
                      .list-overflow
                        .card
                          .card-body
                            .card-title
                              p.mb-1.order__part--title ORDERS IN DOCKET
                            ul.mt-3.list-group
                              each order, index in orders
                                li.list-group-item.d-flex.justify-content-between.align-items-center
                                  a.mb-1.float-right.text-uppercase(href=`/orders/${order._id}`, title= "See order") Order ##{order._id}
                                  div.h6
                                    span.badge.badge-primary.mr-3 #{order.totalQty} items
                                    span.text-info.m-0 #{order.totalPrice}

                    .col-md-4
                      .card.checkoutCard
                        .card-body

                          h1.color-secondary Docket Total
                          hr.bg-light
                          .order__detail
                            h3.display-4.mb-3.color-secondary #{cartTotal}
                  else
                    .col-md-8  
                      .alert.alert-info(role="alert")
                        h3.alert-heading Don't see any orders?
                        p That means this docket has not had any orders delivered to it
                        a.btn.btnBlue(href="/") Make a new order