extends ../layouts/main
include ../mixins/sidebar
include ../mixins/alerts

append head
  title #{title} | CM

block content
  .container-fluid
    .row
      +sidebar
      .container-fluid.content_section.col-10
        .row.product_content
          +alerts
          .col-md-1
          .col-md-10
            .header-section.d-flex.justify-content-between.mb-4.align-items-center.ml-0
              h1.display-4.animated.fadeInLeft.animation-delay-200
                i.mr-3.color-primary(class="icon ion-md-cube")
                | #{title}
            hr
            if orders && orders.length > 0
              .list-overflow
                .table-responsive
                  table.table.table-striped
                    thead.text-center#listHeader
                      tr
                        th(scope="col") From
                        th(scope="col") No. of Items
                        th(scope="col") Total Cost
                        th(scope="col") Status
                        th(scope="col") View Order
                        tbody.text-center
                          each order, index in orders
                            if order.active === true
                              -var variant= 'text-muted'
                              -var status= 'Not Delivered'
                            else 
                              -var variant= 'text-success'
                              -var status='Delivered'
                            tr
                              th(scope="row") #{order.sender.username}
                              td #{order.cart.totalQty} items 
                              td #{prices[index]}
                              td
                                p(class=`${variant}`) #{status}
                              td
                                a.btn.btn-sm.btn-info(href=`/orders/${order.id}` title="View this order")
                                  i(class="icon ion-md-eye")

            else
              .col-md-8  
                .alert.alert-info(role="alert")
                  h3.alert-heading Don't see any orders?
                  p Maybe it's time to make one
                  a.btn.btn-info(href="/") Add an order