extends layouts/main
 

append head
  title Your Cart - Ward

block content

  div.container-fluid
    div.row
      div.col-md-6.section.search__section
        if (error && error.length > 0) 
          .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong Oops!
            |  #{error}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
        if (success && success.length > 0)
          .alert.alert-success.alert-dismissible.fade.show(role='alert')
            strong Success!
            |  #{success}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×

        h1.display-4 Cart
        a.btn.btn-secondary.mr-3(href="/products") Products
        a.btn.btn-primary(href="/products/new") New Product

        if products && products.length > 0
            ul.mt-3.list-group
            each product, index in products
                //- if product.unit == 'pack'
                //-   -var unit =  `pack of ${product.unitq}`;
                //- else
                //-   -var unit = `${product.unit}`;     
                li.list-group-item.d-flex.justify-content-between.align-items-center
                    //- h3 #{product.name} as #{product.unit}  #{product.unitq ? "of " + product.unitq : ""}
                    .container-fluid
                        h6 #{product.item.name}
                        a.btn.btn-danger.btn-sm(href=`/remove-from-cart/${product.item._id}`) Remove
                        
                        
                    //- if product.quantity > 0
                    //-     if product.quantity <= product.reorder
                    //-     span.mr-3.badge.badge-warning #{product.quantity} in stock
                    //-     else
                    h5.text-success.mb-0.mr-3.mb-
                        span #{displayPrices[index]}
                    span.mr-3.badge.badge-success #{product.qty}

                    //- button.close(type='button', data-dismiss="list-item-#{index}", aria-label='Close')
                    //-     span(aria-hidden='true') ×
                    //- else
                    //-     span.mr-3.badge.badge-danger.badge-pill None Available

                //- a.btn.btn-secondary.btn-sm(href=`/products/${product._id}`) View Product
            hr
            h3.float-right Total: #[span.text-success #{totalPrice}]
        else
            h2.mt-3 No items in cart!