extends layouts/main
 

append head
  title Home - Ward

block content

  div.container-fluid
    div.row
      div.col-md-6.section.search__section
        if (error && error.length > 0) 
          .alert.alert-warning.alert-dismissible.fade.show(role='alert')
            strong Oops!
            |  #{error}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×
        if (success && success.length > 0)
          .alert.alert-success.alert-dismissible.fade.show(role='alert')
            strong Nice!
            |  #{success}
            button.close(type='button', data-dismiss='alert', aria-label='Close')
              span(aria-hidden='true') ×

        h1.display-4 Product List
        a.btn.btn-primary.mr-3(href="/products/new") New Product
        - var cart = session.cart;
        if cart && cart.totalQty > 0  
          a.btn.btn-secondary(href="/cart") View Cart #[span.badge.badge-light #{cart.totalQty}]

        ul.mt-3.list-group
          each product, index in products
            if product.unit == 'pack'
              -var unit =  `pack of ${product.unitq}`;
            else
              -var unit = `${product.unit}`;     
            li.list-group-item.d-flex.justify-content-between.align-items-center
              //- h3 #{product.name} as #{product.unit}  #{product.unitq ? "of " + product.unitq : ""}
              .container-fluid
                h6 #{product.name}
                h6.text-success
                  span #{displayPrices[index]} #[small.text-muted / #{unit}]
                  
              if product.quantity > 0
                if product.quantity <= product.reorder
                  span.mr-3.badge.badge-warning #{product.quantity} in stock
                else
                  span.mr-3.badge.badge-success #{product.quantity} in stock

                a.btn.btn-primary.btn-sm.mr-3(href=`/add-to-cart/${product._id}`) Add to Cart
              else
                span.mr-3.badge.badge-danger.badge-pill None Available

              //- a.btn.btn-secondary.btn-sm(href=`/products/${product._id}`) View Product
