extends layouts/main
include mixins/sidebar
include mixins/alerts

append head
    title Home | Cabinet Manager

block content
    .container-fluid
        .row
            +sidebar

            .container-fluid.content_section.col-10
                form.mb-3.search#prodSearchForm(role="search")
                    .input-group
                        .input-group-prepend
                            .input-group-text 
                                i(class="icon ion-md-search")
                        input.form-control.form-control-lg.searchTerm#prodSearch(type="text", name="prodSearch", placeholder="search products..." autofocus)
                
                .row.product_content
                    +alerts
                    h2
                    .col-md-1
                    .col-md-10
                        .header-section.d-flex.justify-content-between.mb-4.align-items-center.ml-0
                            h1.display-4.animated.fadeInLeft.animation-delay-200 Products
                            .btn-group.float-right.animated.fadeInRight.animation-delay-200
                                a.btn.btnPurple.mr-3(href="/products/new") Add Product
                                - var cart = session.cart;
                                if cart && cart.totalQty > 0  
                                    a.btn.btn-success(href="/cart") View Cart #[span.badge.badge-light #{cart.totalQty}]                    
                        hr   
                        //- ul.list-inline.clearfix
                        //-     .float-right
                        //-         .dropdown.list-inline-item
                        //-             p.dropdown-toggle#dropdownSort.mr-2(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Sort
                        //-             .dropdown-menu(aria-labelledby='dropdownType')
                        //-                 a.dropdown-item(href="#") Ascending
                        //-                 a.dropdown-item(href="#") Descending
                        //-         .dropdown.list-inline-item
                        //-             p.dropdown-toggle#dropdownPrice(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Price
                        //-             .dropdown-menu(aria-labelledby='dropdownPrice')
                        //-                 a.dropdown-item(href="#") High
                        //-                 a.dropdown-item(href="#") Low                 
                        ul.mt-3.list-group#productList
                            .list-container
                                each product, index in products
                                    if product.unit == 'pack'
                                        -var unit =  `pack of ${product. unitq}`;
                                    else
                                        -var unit = `${product.unit}`;

                                    li.list-group-item.d-flex.justify-content-between.align-items-center.product
                                        //- h3 #{product.name} as #{product.unit}  #{product.unitq ? "of " + product.unitq : ""}
                                        .container-fluid
                                            h5.mb-0 #{product.name}
                                            p.mb-0.text-success
                                                span #{displayPrices[index]} #[small.text-muted /#{unit}]

                                        if product.quantity > 0
                                            if product.quantity <= product.reorder
                                                span.mr-3.badge.badge-warning.badge-lg  #{product.quantity} in stock
                                            else
                                                span.mr-3.badge.badge-success.badge-lg #{product.quantity} in stock

                                            a.btn.btnBlue.mr-3(href=`/cart/new/${product._id}`) Add to Cart
                                        else
                                            span.mr-3.badge.badge-danger.badge-pill None Available
                    .col-md-1
                        script(src='/assets/resources/js/filter.js')
