extends layouts/main
include mixins/sidebar
include mixins/alerts

append head
  title Order Details | CM

block content
  .container-fluid
    .row
      +sidebar

      .container-fluid.content_section.col-10
        .row
          .col-md-1
          .col-md-10
            +alerts
            .product_content
              .header-section.d-flex.justify-content-between.mb-4.align-items-center.animated.fadeIn.animation-delay-200
                h1.display-4.mb-0
                  i.mr-3.color-primary(class="icon ion-md-cube")
                  | Order Details
                h4
                  if order.active
                    span.badge.badge-secondary Not delivered
                  else
                    span.badge.badge-success Delivered
              hr
              .order__details.container
                .row
                  .col-md-4
                    .order__detail.mb-2.text-center
                      p.mb-1.order__part--title ORDER ID #[h4.text-uppercase.font-weight-bold #{order.id}] 
                  .col-md-4
                    .order__detail.mb-2.text-center
                      p.mb-1.order__part--title FROM #[h4.font-weight-bold #{order.sender.username}]
                  .col-md-4
                    .order__detail.mb-2.text-center
                      p.mb-1.order__part--title TO #[h4.font-weight-bold #{order.docket.docno} | #{order.docket.name}]
              .card.mt-4
                .card-body
                  .card-title 
                    p.order__part--title.text-uppercase Order Information  
                  ul.mt-3.list-group
                  each product, index in products
                    li.list-group-item.d-flex.justify-content-between.align-items-center
                      h5.mb-1.float-right #{product.item.name}
                      div.h6
                        span.badge.badge-primary.mr-3 x#{product.qty}
                        span.text-info.m-0 #{displayPrices[index]}
                        if order.active
                          form.form-inline.float-right.ml-3(method="POST" action=`/orders/${order.id}`)
                            input(type="hidden", value=`${order.id}` name="order")
                            input(type="hidden", value=`${product.item._id}` name="product")


                  .float-right.mt-3.text-right
                    //- h6.text-muted No. of Items: #{totalQty}
                    //- h3.mt-1 Total: #[span.text-success #{totalPrice}]
                    .order__detail.mb-2
                      p.mb-1.order__part--title TOTAL 
                      h1.text-success #{totalPrice}
                      if user.role_id <= 1
                        if order.active && verified != order.id
                          form(method="POST" action="/orders/sender/verify")
                            input(type='', name='orderID', value = order.id hidden)
                            input(type='', name='senderID', value = order.sender.id hidden)
                            .input-group
                              input.form-control.input-sm(type='password', name='pin', pattern='[0-9]{4}', id="pin", maxlength='4', placeholder= order.sender.username + "'s Pin Here...", aria-describedBy="#pinHelp" required)
                              .input-group-append
                                input.btn.btnBlue.btn-sm(type='submit', value='Verify')
                            small#upriceHelp.form-text.text-danger *4-digit pin is required
                        else if order.active && verified === order.id
                          a.btn.btn-block.btn-lg.btn-outline-success(href=`/orders/${order.id}/checkout`) Dispense
                      if order.active && user._id == order.sender.id
                        //- a.btn.btn-danger.mt-4(href=`/orders/delete/${order.id}` title="Removes item")
                        //-   | Delete Order
                        button.btn.btn-danger.openViewModal.mt-3(type='button', data-toggle='modal', data-target='#cartModal', data-order=`/delete/${order.id}`)
                          | Delete Order
                          //- button.btn.btn-lg.btn-success.btn-block.openPinModal(type='button', data-toggle='modal', data-target='#pinModal', data-order=`${order.id}`) Dispense
                  //- h2 User is #{user._id}
                  //- h2 Order is #{order.sender.id}

        #cartModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='cartModalTitle', aria-hidden='true')
          .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
              .modal-header
                h3#cartModalTitle.modal-title Are you sure?
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                  span(aria-hidden='true') &times;
              .modal-body
                | This will delete the order!
              .modal-footer
                button.btn.btn-primary(type='button', data-dismiss='modal') Cancel
                a.btn.btn-secondary(href="") Delete it
          .col-md-1      
