extends layouts/main
include mixin/sidebar

append head
  title Order | CM

block content
  .container-fluid
    .row
      +sidebar

      .container-fluid.content_section.col-10
        .row
          .col-md-2
          .col-md-8
            if error && error.length > 0 
              .alert.alert-warning.alert-dismissible.fade.show(role='alert')
                strong Oops!
                |  #{error}
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') ×
            if success && success.length > 0
              .alert.alert-success.alert-dismissible.fade.show(role='alert')
                strong Success!
                |  #{success}
                button.close(type='button', data-dismiss='alert', aria-label='Close')
                  span(aria-hidden='true') ×
            .product_content
              .header-section.d-flex.justify-content-between.mb-4.align-items-center
                h1.display-4.mb-0 Order Details
                h3
                  if order.active
                    span.badge.badge-danger Not delivered
                  else
                    span.badge.badge-success Delivered

                //- .btn-group.float-right
                //-     a.btn.btn-outline-primary.mr-3(href="/products/new") All Products
                //-     a.btn.btn-outline-info.mr-3(href="/orders") All Orders
                //-     if cart && cart.totalQty > 0  
                //-         a.btn.btn-secondary(href="/cart") Cart #[span.badge.badge-light #{cart.totalQty}]
              hr
              .order__details.container
                .row
                  .col-md-4
                    .order__detail.mb-2.text-center
                      p.mb-1.order__part--title ORDER ID #[h4.text-uppercase.font-weight-bold #{order.id}] 
                  .col-md-4
                    .order__detail.mb-2.text-center
                      p.mb-1.order__part--title FROM #[h4.font-weight-bold #{order.sender.username}]
                  .col-md-4
                    .order__detail.mb-2.text-center
                      p.mb-1.order__part--title TO #[h4.font-weight-bold #{order.patient}]
              .card.mt-4
                .card-body
                  .card-title 
                    p.order__part--title.text-uppercase Order Information  
                  ul.mt-3.list-group
                  each product, index in products
                    li.list-group-item.d-flex.justify-content-between.align-items-center
                      h5.mb-1 #{product.item.name}
                      div.h6
                        span.badge.badge-secondary.mr-3 x#{product.qty}
                        span.text-info.m-0 #{displayPrices[index]}

                  .float-right.mt-3.text-right
                    //- h6.text-muted No. of Items: #{totalQty}
                    //- h3.mt-1 Total: #[span.text-success #{totalPrice}]
                    .order__detail.mb-2
                      p.mb-1.order__part--title TOTAL 
                      h1.text-success #{totalPrice}

                    if order.active && verified != true
                      form(method="POST" action="/orders/sender/verify")
                        input(type='', name='orderID', value = order.id hidden)
                        input(type='', name='senderID', value = order.sender.id hidden)
                        .input-group
                          input.form-control.input-sm(type='password', name='pin', pattern='[0-9]{4}', id="pin", maxlength='4', placeholder= order.sender.username + "'s Pin Here...", aria-describedBy="#pinHelp" required)
                          .input-group-append
                            input.btn.btnBlue.btn-sm(type='submit', value='Verify')
                        small#upriceHelp.form-text.text-danger *4-digit pin is required
                    else if order.active && verified == true
                      a.btn.btn-block.btn-lg.btn-outline-success(href=`/orders/${order.id}/checkout`) Dispense
                      //- button.btn.btn-lg.btn-success.btn-block.openPinModal(type='button', data-toggle='modal', data-target='#pinModal', data-order=`${order.id}`) Dispense
